/* 
    Paleta de cores gerada pela incrivel ferramenta de circulo cromético do adobe color, link abaixo
    https://color.adobe.com/br/create/color-wheel
*/

:root {
    /* backgrounds */
    --bg: #121826;
    --bg-sidebar: #171e2d;
    --bg-card: #1B2436;
    --bg-hover: #25314A;

    /* Text */
    --text-primary: #F8FAFC;
    --text-secondary: #CBD5E1;
    --text-terciary: #151618;
    --text-mutted: #94A3B8;

    /* Brand */
    --primary-10: #8B5CF6;
    --primary-11: #876EC2;
    --primary-12: #786E8F;
    --primary-13: #514C5C;
    --primary-14: #262033;

    --secondary-10: #22D3EE;
    --secondary-11: #3FAABA;
    --secondary-12: #497F87;
    --secondary-13: #3E5154;
    --secondary-14: #2C3233;

    /* Buttons */
    --btn-primary: #EC4899;
    --btn-soft-01: #F9C3DE;
    --btn-transparent: #f7e0eb62;
    --btn-hover: #F88BC1;

    --btn-secondary: #fceef5;

    /* status */
    --success: #22C55E;
    --warning: #F59E0B;
    --danger: #EF4444;

    /* Borders */
    --border-color: #334155;
    --border-soft: #475569;

    --border-btns1: #EC4899;
    --border-btns2: #22D3EE;

    --border-card: #8B5CF6;

    /* shandows */
    --shadow-soft: 0 6px 12px rgba(0,0,0,0.20);
    --shadow-hard: 0 8px 24px rgba(0,0,0,0.35);

    /* Transitions */
    --transition: 0.3s ease-in-out;
}