<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus planos</title>
</head>
<body>
    <h1>Meu plano</h1>
    <section>
        <span>Plano atual:</span><span>Premiun</span>
        <div>
            <h2>Benefícios:</h2>
            <ul>
                <li>beneficio 1</li>
                <li>beneficio 2</li>
                <li>beneficio 3</li>
            </ul>
        </div>
        <span>Status:</span><span>Ativo</span>
    </section>
    <section>
        <h2>Veja outros planos:</h2>
        <!--Informações de outros planos-->
        <!--
            [ Básico ]
                R$19,90/mês

                ✓ 10 produtos
                ✓ Suporte padrão

                [ Ver Detalhes ] [ Migrar ]

            [ Profissional ]
                R$79,90/mês

                ✓ Produtos ilimitados
                ✓ Relatórios completos
                ✓ Atendimento prioritário

                [ Ver Detalhes ] [ Migrar ]
        -->
        
    </section>
</body>
</html>