<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekBox</title>
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../victor/assets/css/style.css">
    <link rel="stylesheet" href="../../../victor/assets/css/pages.css">
</head>
<body>
    <aside id="sidebar" class="sidebar close">
        <nav class="nav-sidebar">
            <ul class="ul-sidebar">
    <li>
        <a href="index.html">
            <i class="fa-solid fa-house"></i>
            <span>Início</span>
        </a>
    </li>

    <li>
        <a href="sobre.html">
            <i class="fa-solid fa-circle-info"></i>
            <span>Sobre</span>
        </a>
    </li>

    <li>
        <a href="contato.html">
            <i class="fa-solid fa-envelope"></i>
            <span>Contato</span>
        </a>
    </li>

    <li>
        <a href="faq.html">
            <i class="fa-solid fa-circle-question"></i>
            <span>FAQ</span>
        </a>
    </li>

    <li>
        <a href="cadastro.html">
            <i class="fa-solid fa-user-plus"></i>
            <span>Cadastro</span>
        </a>
    </li>

    <li>
        <a href="login.html">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Login</span>
        </a>
    </li>

    <li>
        <a href="#" class="a-logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Sair</span>
        </a>
    </li>
</ul>
        </nav>
    </aside>

    <header class="header-container">
        <div class="logo">
            <button id="btn-burger" class="btn-icon"><i class="fa-solid fa-bars"></i></button>
            <h1 class="logo-title">GEEK<span class="txt-emphasis">BOX</span></h1>
        </div>
        <nav class="header-nav-user">
            <button class="btn-icon"><i class="fa-solid fa-bell"></i></button>
            <div class="profile">
                <img src="https://i.pravatar.cc/150" alt="avatar" class="img-avatar-profile">
                <span>Alê-san</span>
            </div>
        </nav>
    </header>
   <main class="container">

    <section class="form-panel">

        <h2>Criar Conta</h2>

        <form class="geek-form">

            <div class="form-group">
                <label>Nome</label>
                <input type="text">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email">
            </div>

            <div class="form-group">
                <label>Senha</label>
                <input type="password">
            </div>

            <button class="btn-primary">
                Cadastrar
            </button>

        </form>

    </section>

</main>
    <main class="container">
    </main>
    <script src="../../assets/js/menus.js"></script>
</body>
</html>