.cards-row{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:1.5rem;
    padding:1.5rem;
}

.card-kip{
    background:var(--bg-card);
    border:1px solid var(--border-color);
    border-radius:20px;
    padding:1.5rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:var(--shadow-soft);
    transition:.25s ease;
}

.card-kip:hover{
    transform:translateY(-5px);
    background:var(--bg-hover);
}

.card-content h3{
    color:var(--text-primary);
    font-size:.9rem;
    margin-bottom:.6rem;
    font-weight:500;
}

.card-content p{
    color:var(--text-primary);
    font-size:1.8rem;
    font-weight:700;
}

.card-icon{
    width:60px;
    height:60px;
    border-radius:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    color:var(--primary);
}

/* VARIAÇÕES */

.premium{
    background:rgba(139,92,246,.15);
    color:var(--primary);
}

.delivery{
    background:rgba(34,211,238,.15);
    color:var(--secondary);
}

.order{
    background:rgba(245,158,11,.15);
    color:var(--warning);
}

.success{
    background:rgba(34,197,94,.15);
    color:var(--success);
}