#edit-profile {
    max-width: 900px;
    margin: 2rem auto;
    background: var(--bg);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: var(--shadow-hard);
}

#edit-profile h2 {
    text-align: center;
    color: var(--primary-10);
    margin-bottom: 2rem;
}

/* =========== Form Sections =========== */
.form-section {
    margin-bottom: 2.5rem;
    border: 1px solid var(--primary-10);
    border-radius: 12px;
    padding: 1.5rem;
    background: var(--bg-card);
}

.form-section h3 {
    text-align: center;
    color: var(--primary-10);
    margin-bottom: 1rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: var(--text-primary);
}

.input-box input,
.input-box select,
.input-box textarea {
    border: 1px solid var(--primary-10);
    border-radius: 8px;
    padding: 0.7rem;
    font-size: 0.95rem;
    color: var(--secondary-14);
}

.input-box input:focus,
.input-box select:focus {
    outline: none;
    border-color: var(--secondary-10);
    box-shadow: var(--shadow-magic2);
}

.search-bar {
    flex: 1;
    max-width: 350px;
}

.search-bar input {
    width: 100%;
    padding: 0.6rem 1rem;
    border: 1px solid var(--neutra);
    border-radius: 25px;
    font-size: 0.95rem;
    transition: border 0.3s ease;
}

.search-bar input:focus {
    border-color: var(--primary-10);
    outline: none;
}


/* =========== Danger Zone =========== */
.danger-zone {
    background: #b02a3766;
    border: 1px solid #f8d7da;
}

.danger-zone h3 {
    color: var(--text-primary);
}

.danger-zone p {
    color: var(--text-secondary);
    margin: 0.5rem 0 1rem;
}

/* =========== Responsividade =========== */
@media (max-width: 700px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    #edit-profile {
        padding: 1.2rem;
    }

}