<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekBox</title>
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../nicoli/assets/css/style.css">
</head>
<body>
    <aside class="sidebar d-none">
        <nav class="nav-sidebar">
            <ul class="ul-sidebar">
                <li><a href="#"><i class="fa-solid fa-house"></i><span>Início</span></a></li>
                <li><a href="#"><i class="fa-solid fa-box"></i><span>GeekBox</span></a></li>
                <li><a href="#"><i class="fa-solid fa-file-contract"></i><span>Planos</span></a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i><span>Configurações</span></a></li>
                <li><a href="#" class="a-logout"><i class="fa-solid fa-right-from-bracket"></i><span>sair</span></a></li>
            </ul>
        </nav>
    </aside>

    <header class="header-container">
        <div class="logo">
            <button class="btn-icon"><i class="fa-solid fa-bars"></i></button>
            <h1 class="logo-title">GEEK<span class="txt-emphasis">BOX</span></h1>
        </div>
        <nav class="header-nav-user">
            <button class="btn-icon"><i class="fa-solid fa-bell"></i></button>
        
            <div class="profile">
                <img src="https://i.pravatar.cc/150" alt="avatar" class="img-avatar-profile">
                <span>Alê-san</span>
            </div>
        </nav>
    </header>
    <nav>

    </nav>
    <main class="container">
        <button class="btn-primary">LOGIN</button>
        <button class="btn-secondary">Visitar</button>
    </main>
</body>
</html>