<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekBox</title>
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <aside>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">GeekBox</a></li>
                <li><a href="#">Planos</a></li>
                <li><a href="#">Configurações</a></li>
            </ul>
        </nav>
    </aside>
    <header>

    </header>
    <nav>

    </nav>
    <main>

    </main>
</body>
</html>