<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekBox</title>
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../nicoli/assets/css/style.css">
</head>
<body>
    <aside id="sidebar" class="sidebar close">
        <nav class="nav-sidebar">
            <ul class="ul-sidebar">
                <li><a href="home.html"><i class="fa-solid fa-house"></i><span>Início</span></a></li>
                <li><a href="profile.html"><i class="fa-solid fa-user"></i><span>Minha conta</span></a></li>
                <li><a href="geekbox.html"><i class="fa-solid fa-box"></i><span>GeekBox</span></a></li>
                <li><a href="orders.html"><i class="fa-solid fa-clipboard-list"></i><span>Meus pedidos</span></a></li>
                <li><a href="store.html"><i class="fa-solid fa-bag-shopping"></i><span>Produtos da loja</span></a></li>
                <li><a href="avaliation.html"><i class="fa-solid fa-star"></i><span>Minhas avaliações</span></a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i><span>Configurações</span></a></li>
            </ul>
        </nav>
    </aside>

    <header class="header-container">
        <div class="logo">
            <button id="btn-burger" class="btn-icon"><i class="fa-solid fa-bars"></i></button>
            <h1 class="logo-title">GEEK<span class="txt-emphasis">BOX</span></h1>
        </div>
        <nav class="header-nav-user">
            <button class="btn-icon"><i class="fa-solid fa-bell"></i></button>
            <div class="profile">
                <img src="https://i.pravatar.cc/150" alt="avatar" class="img-avatar-profile">
                <span>Alê-san</span>
            </div>
            <button class="btn-secondary">Sair</button>
        </nav>
    </header>

    <main class="container">
        <div class="container-cards">
            <div class="card-top">
                <div class="card-kip">
                    <div class="card-content">
                        <h3>Plano Atual</h3>
                        <p>BoxPremium</p>
                    </div>
                    <div class="card-icon">
                        <i class="fa-solid fa-gem"></i>
                    </div>
                </div>
                <div class="card-kip">
                    <div class="card-content">
                        <h3>Próxima Entrega</h3>
                        <p>07/04/2026</p>
                    </div>
                    <div class="card-icon">
                        <i class="fa-regular fa-calendar"></i>
                    </div>
                </div>
                <div class="card-kip">
                    <div class="card-content">
                        <h3>Pedido Atual</h3>
                        <p>Em andamento</p>
                    </div>
                    <div class="card-icon">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="card-kip">
                    <div class="card-content">
                        <h3>Caixas Recebidas</h3>
                        <p>6 GeekBox</p>
                    </div>
                    <div class="card-icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="cards-principal">
                <div class="card-hero">
                    <div class="hero-content">
                        <h2 class="title-card2">Próxima GeekBox</h2>
                        <p><span>Tema:</span> Naruto</p>
                        <div class="timeline">
                            <div class="container-event done">
                                <div class="content">
                                    <span><i class="fa-solid fa-check"></i></span>
                                    <p>Pagamento aprovado</p>
                                </div>
                            </div>
                            <div class="container-event active">
                                <div class="content">
                                    <span><i class="fa-regular fa-circle"></i></span>
                                    <p>Preparando box</p>
                                </div>
                            </div>
                            <div class="container-event">
                                <div class="content">
                                    <span><i class="fa-regular fa-circle"></i></span>
                                    <p>Enviada prara entrega</p>
                                </div>
                            </div>
                            <div class="container-event">
                                <div class="content">
                                    <span><i class="fa-regular fa-circle"></i></span>
                                    <p>Entregue com sucesso!</p>
                                </div>
                            </div>
                        </div>
                        <button class="btn-secondary">Detalhes do pedido</button>
                    </div>
                </div>
                <section class="orders">
                    <h2 class="title-card2">Pedidos Recentes</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Mês</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#001</td>
                                <td>Abril</td>
                                <td>Entregue</td>
                            </tr>
                            <tr>
                                <td>#002</td>
                                <td>Abril</td>
                                <td>Entregue</td>
                            </tr>
                            <tr>
                                <td>#003</td>
                                <td>Abril</td>
                                <td>Entregue</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn-primary">Histórico completo</button>
                </section>
                <div class="card-preferences">
                    <h2>Minhas preferencias</h2>
                    <div class="prefer-icon">
                        <span id="content-prefer">
                            <img src="../../assets/img/estilos/estilo-shounen.png" alt="estilo favorito" class="img-preferences">
                        </span>
                        <span id="anime-prefer">
                            <img src="../../assets/img/anime/naruto.jpg" alt="anime favorito" class="img-preferences">
                        </span>
                        <span id="genere-prefer">
                            <img src="../../assets/img/generos/luta.webp" alt="Genero favorito" class="img-preferences">
                        </span>
                        <span id="anime-prefer">
                            <img src="../../assets/img/naruto/bandana-naruto-icon.png" alt="anime favorito" class="img-preferences">
                        </span>
                    </div>
                    <button class="btn-primary">Atualizar Minhas Preferencias</button>
                </div>
                <div class="plans">
                    <h2>Meu Plano</h2>
                    <p><span>Meu plano:</span> BoxPremium</p>
                    <p><span>Último pagamento:</span> 17/07/2026</p>
                    <p><span>Próximo pagamento:</span> 17/08/2026</p>
                    <p><span>Status:</span> Ativo</p>
                    <button class="btn-primary">Mudar plano</button>
                </div>
                <div class="monthTheme">
                    <h2>Tema do Mês: <span>Naruto</span></h2>
                    <img src="../../assets/img/naruto/naruto.png" alt="personagem do mês" class="month-person-theme-img">
                    <button class="btn-secondary">Saiba Mais</button>
                </div>
            </div>
        </div>
    </main>
    <script src="../../assets/js/menus.js" defer></script>
</body>
</html>