<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekBox</title>
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../nicoli/assets/css/style.css">
</head>
<body>
    <aside id="sidebar" class="sidebar close">
        <nav class="nav-sidebar">
            <ul class="ul-sidebar">
                <li><a href="home.html"><i class="fa-solid fa-house"></i><span>Início</span></a></li>
                <li><a href="profile.html"><i class="fa-solid fa-user"></i><span>Perfil</span></a></li>
                <li><a href="#"><i class="fa-solid fa-box"></i><span>GeekBox</span></a></li>
                <li><a href="#"><i class="fa-solid fa-file-contract"></i><span>Planos</span></a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i><span>Configurações</span></a></li>
                <li><a href="#" class="a-logout"><i class="fa-solid fa-right-from-bracket"></i><span>sair</span></a></li>
            </ul>
        </nav>
    </aside>

    <header class="header-container">
        <div class="logo">
            <button id="btn-burger" class="btn-icon"><i class="fa-solid fa-bars"></i></button>
            <h1 class="logo-title">GEEK<span class="txt-emphasis">BOX</span></h1>
        </div>
        <nav class="header-nav-user">
            <button class="btn-icon"><i class="fa-solid fa-bell"></i></button>
            <div class="profile">
                <img src="https://i.pravatar.cc/150" alt="avatar" class="img-avatar-profile">
                <span>Alê-san</span>
            </div>
        </nav>
    </header>

    <main class="container">
        <form class="form-profile">
            <fieldset class="basic-inf">
                <legend>Informações Básicas</legend>
                <div class="left">
                    <div class="group-input">
                        <label>Nome completo:</label>
                        <input type="text" value="Nicóli Pereira Elesbão">

                        <label>Email:</label>
                        <input type="email" value="nicólielesbao@gmail.com">

                        <label>Nome de usuário:</label>
                        <input type="text" value="Nick-chan">

                        <label>Data de aniversário:</label>
                        <input type="text" value="10/06/2007">
                    </div>
                    <div class="group-input">

                        <label>CEP:</label>
                        <input type="text" value="01001-000">

                        <label>Rua/avenida:</label>
                        <input type="text" value="Rua das Espirais">

                        <div class="d-flex">
                            <label>Número:</label>
                            <input type="text" value="Rua das Espirais">
                        
                            <label>Complemento:</label>
                            <input type="text" value=" ">
                        </div>

                        <label>Bairro:</label>
                        <input type="text" value="512">
                        
                        <div class="d-flex">
                            <label>Cidade:</label>
                            <input type="text" value="Canario Verde">

                            <label>Estado:</label>
                            <input type="text" value="RS">
                        </div>

                    </div>
                </div>
                <div class="rigth">
                    <img src="https://i.pravatar.cc/150" alt="Mudar imagem de perfil" class="profile-img-settings">
                    <span><i class="fa-solid fa-pencil"></i></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Preferências</legend>
                    <div class="group-input">
                        <label>Estilo preferido:</label>
                        <input type="text" placeholder="Ex.: Shounen" value="Shounen" disabled>
                    
                        <label>Personagem favorito:</label>
                        <input type="text" placeholder="Ex.: Naruto" value="Naruto Uzumaki" disabled>
                    </div>
                
                    <div class="group-input">
                        <label>Gênero favorito:</label>
                        <input type="text" placeholder="Ex.: Luta" value="Luta" disabled>
                    
                        <label>Anime favorito:</label>
                        <input type="text" placeholder="Ex.: Naruto Shippuden" value="Fullmetal Alchemist: Brotherhood" disabled>
                    </div>
                <div class="actions">
                    <button type="button" class="btn-primary"><i class="fa-solid fa-pencil"></i>Editar</button>
                    <button type="submit" class="btn-primary" disabled>Salvar</button>
                </div>
            </fieldset>
        </form>
    </main>
    <script src="../../assets/js/menus.js" defer></script>
</body>
</html>